<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
<header>
    <nav>
        <ul>
            <li><a href="/">home page</a></li>
            <li><a href="/favorite-jokes">favorite jokes</a></li>
            <li><a href="/random">random joke</a></li>
        </ul>
    </nav>
</header>

<main>
    <section class="allJokesContainer">

<div class="one-joke">
<h5>type: <%= random.type %> </h5>
<h5>setup: <%= random.setup %> </h5>
<h5>punchline: <%= random.punchline %> </h5>
</div>

</section>

</main>

<footer></footer>

</body>
</html>