*{
    text-align: center;
}
.allJokesContainer{
    margin: 10px auto 10px auto;
}
.allJokesContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.one-joke{
    min-width: 32%;
    max-width: 32%;
    border: 2px solid black;
    margin-top: 5px;
}