<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
<header>
    <nav>
        <ul>
            <li><a href="/">home page</a></li>
            <li><a href="/favorite-jokes">favorite jokes</a></li>
            <li><a href="/random">random joke</a></li>
        </ul>
    </nav>
</header>

<main>
    <% if(jokes.length == 0){ %>
        <div class="no-available">
<p>no available jokes</p>
</div>
    <% }else{ %>
    <section class="allJokesContainer">
<% jokes.forEach((joke, idx) => { %>
<div class="one-joke">
<h4>Joke number: <%= idx+1 %> </h4>
<h5>type: <%= joke.type %> </h5>
<h5>setup: <%= joke.setup %> </h5>
<h5>punchline: <%= joke.punchline %> </h5>
<button><a href="/jokes/detailed"></a></button>
</div>
<% }) %>
</section>
<% } %>
</main>

<footer></footer>

</body>
</html>